# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# IDE configurations
.idea
.vscode

# Mac OS files
*.DS_STORE

# lightning and experiments
*.ckpt
log*/
linear*/
*.csv