# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# IDE configurations
.idea
.vscode

# Mac OS files
*.DS_STORE

# Temporary files
temp/*
temp.html

# add 'ignore' to any experimental folders you want git to ignore
**/*ignore*/